body {
    background-image: url("https://dodo.dev/img/bg-pixel-2.66fac182.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    font-family: "Retro Gaming", sans-serif, monospace;
}