.wrapper {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 967px;
    height: 850px;
    margin: 0 auto;
    padding: 132px 110px 120px;
    background-image: url("../../images/tv2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}